# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
.venv/
venv/
env/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE files
.idea/
*.sublime-project
*.sublime-workspace

# Python libraries (you can add specific libraries here if needed)
*.egg-info/
*.egg
dist/
build/

# Other
*.log
